<style>
<!--
table.check-user {
    border-collapse: collapse;
}

table.check-user th,
table.check-user td {
    padding: 5px;
    border: solid 1px #cccccc;
}

table.check-user th {
    text-align: left;
    vertical-align: top;
}
-->
</style>
{% if userinfo %}
    <table class="check-user">
        <tr>
            <th>PennID:</th>
            <td colspan="2">{{ userinfo.getPennId }}</td>
        </tr>
        <tr>
            <th>Pennkey:</th>
            <td colspan="2">{{ userinfo.getPennkey }}</td>
        </tr>
        <tr>
            <th>Name:</th>
            <td colspan="2">{{ userinfo.getFirstName }} {{ userinfo.getLastName }}</td>
        </tr>
        <tr>
            <th>Forwarding:</th>
            <td colspan="2">{{ forwards|join('<br/>')|default('none') }}</td>
        </tr>    
        {% for key,value in chkInfo.getData %}
            {% if key != 'ssh_script_run' %}
                <tr>
                    {% if loop.first %}
                        <th rowspan="{{ chkInfo.getData|length }}">Account Check:</th>
                    {% endif %}
                    <td>{{ key }}</td>
                    <td>{% if value is iterable %}{{ value|join(', ') }}{% else %}{{ value }}{% endif %}</td>
                </tr>
            {% endif %}    
        {% endfor %}
    </table>
    
    <h4>Account Logs</h4>
    {% include "GmailAccountLogBundle:Default:entries-table.html.twig" %}
{% else %}
    <div style="padding: 10px; border: solid 1px #666666; margin-top: 10px; background: #dddddd;">No matching user found</div>
{% endif %}