<style>
<!--
table.check-user {
    border-collapse: collapse;
}

table.check-user th,
table.check-user td {
    padding: 5px;
    border: solid 1px #cccccc;
}

table.check-user th {
    text-align: left;
    vertical-align: top;
}
-->
</style>
{% if userinfo %}
    <table class="check-user">
        <tr>
            <th>PennID:</th>
            <td>{{ userinfo.getPennId }}</td>
        </tr>
        <tr>
            <th>Pennkey:</th>
            <td>{{ userinfo.getPennkey }}</td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>{{ userinfo.getFirstName }} {{ userinfo.getLastName }}</td>
        </tr>
        <tr>
            <th>Forwarding:</th>
            <td>{{ forwards|join('<br/>') }}</td>
        </tr>    
        <tr>
            <th>Account Check:</th>
            <td>
                {% for key,value in chkInfo.getData %}
                    {{ key }} = {{ value }}<br/>
                {% endfor %}
            </td>
        </tr>    
    </table>
    
    <h4>Account Logs</h4>
    {% include "GmailAccountLogBundle:Default:entries-table.html.twig" %}
{% else %}
    <div style="padding: 10px; border: solid 1px #666666; margin-top: 10px; background: #dddddd;">No matching user found</div>
{% endif %}