<style>
<!--
table.check-user {
    border-collapse: collapse;
}

table.check-user th,
table.check-user td {
    padding: 5px;
    border: solid 1px #cccccc;
}

table.check-user th {
    text-align: left;
    vertical-align: top;
}
-->
</style>
{% if userinfo %}
    <table class="check-user">
        <tr>
            <th>PennID:</th>
            <td>{{ userinfo.getPennId }}</td>
        </tr>
        <tr>
            <th>Pennkey:</th>
            <td>{{ userinfo.getPennkey }}</td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>{{ userinfo.getFirstName }} {{ userinfo.getLastName }}</td>
        </tr>
        <tr>
            <th>Forwarding Eligible:</th>
            <td>{% if forwardingEligible %}YES{% else %}NO{% endif %}</td>
        </tr>
        {% if forwardingEligible %}
            <tr>
                <th>Forwarding:</th>
                <td>{{ forwards|join('<br/>')|default('none') }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>GMail Eligible:</th>
            <td>{% if gmailEligible %}YES{% else %}NO{% endif %}</td>
        </tr>
        {% if gmailEligible %}
            {% for penngroup in eligibilityGroups %}
                <tr>
                    {% if loop.first %}
                        <th rowspan="{{ eligibilityGroups|length }}">Eligible Penngroups:</th>
                    {% endif %}
                    <td>{{ penngroup }}</td>
                </tr>
            {% else %}
                <tr>
                    <th>Eligible Penngroups:</th>
                    <td>No eligible penngroups found</td>
                </tr>        
            {% endfor %}
        {% endif %}
        <tr>
            <th>Google Account:</th>
            <td>
                {% if google %}
                    Created on {{ google.getCreationTime|date('m/d/Y') }}<br/>
                    Account is <strong>{% if google.isActivated %}ACTIVE{% elseif google.isAccountPending %}PENDING {{ google.getAccountAvailableWhen }}{% else %}INACTIVE{% endif %}</strong><br/>
                    OU = {{ google.getOrgUnitPath }}
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
    </table>
    
    <h4>Account Logs</h4>
    {% include "GmailAccountLogBundle:Default:entries-table.html.twig" %}
{% else %}
    <div style="padding: 10px; border: solid 1px #666666; margin-top: 10px; background: #dddddd;">No matching user found</div>
{% endif %}