{% extends "GMailConfigureBundle::base.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.validate.password.css" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="assets/js/lib/jquery.validate.min.js"></script>
    <script src="assets/js/lib/jquery.validate.password.js"></script>
{% endblock %}


{% block body %}
    {% include "GMailConfigureBundle:Default:account-steps.html.twig" %}
    
    

    {% if action == 'reset-password' %}
        <script src="assets/js/reset-password.js"></script>
    {% else %}
        <script src="assets/js/account-creation.js"></script>
    {% endif %}

<script>
$(document).ready(function() {

    var validator = $("#instructions").validate(
        {   rules: { 
                password1: { password: '#username' }, 
                password2: { required: true, equalTo: '#password1' } 
            },
            messages: {
            	password2: {
                    required: 'Please confirm password',
            		equalTo: 'Password mismatch'
            	}
            },
            submitHandler: 
                function(form) {
                    form.submit();
                },
        	debug: true
        }
    );

    $("#password1").valid();
    
});
</script>


        {% if action == 'reset-password' %}
            <p>Here are the instructions for resetting your Google@SAS account password:</p>
            <ul>
                <li>Enter a new password for your account.</li>
            </ul>
        {% else %}
            <p>Here are the instructions for creating your Google@SAS account:</p>
            <ol>
                <li>Create a password for your new account.</li>
                <li>Use the checkbox below to indicate if you want to use Google@SAS for both email and apps (Google Docs, Calendar, etc), or just for apps.<br/><br/>
                    If you want to use Google@SAS for apps only and not email, then uncheck the "Deliver email to this account" box.</li>
                <li>The first time you login to your Google@SAS account, you will be prompted to accept the terms of service for your account.</li>
                <li>Please be sure to complete all the steps in this process so that you will be able to access your Google@SAS account.</li>
            </ol>
        {% endif %}
    
    <form method="POST" action="provision.php" id="instructions" name="instructions">
    <input type="hidden" name="action" value="<?php echo $template['next_action']; ?>"/>
    <input type="hidden" name="token_hash" id="token_hash" value="<?php echo $template['token_hash']; ?>"/>
    <input type="hidden" name="username" id="username" value="<?php echo $template['username']; ?>"/>
    
    <div class="field-label-set" id="fullname">
        <div class="field-label">
            <label for="fullname">Full name:</label> 
        </div>
        <div class="field-input">
            {{ user.getFullName }}
            {% if action == 'reset-password' %}
                {# give user the option to update his/her fullname #}
                <div style="font-size: 80%">
                    (<a href="{{ path('editName') }}">Change how your name appears in your account</a>)
                </div>
            {% endif %}
        </div>
        <div style="clear: both;"></div>
    </div>
    
    <div class="field-label-set" id="username">
        <div class="field-label">
            <label for="username">Username:</label> 
        </div>
        <div class="field-input">
            {{ user.getUserId }}
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="field-label-set" id="accountPassword">
        <div class="field-label">
            <label for="password1">Account Password:</label>
        </div>
        <div class="field-input">
            <input type="password" name="password1" id="password1" class="passwordField"/>
        </div>
        <div class="password-meter" style="float: left">
            <div class="password-meter-message">&nbsp;</div>
            <div class="password-meter-bg">
                <div class="password-meter-bar"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    
    <div class="field-label-set" id="confirmAccountPassword">
        <div class="field-label">
            <label for="password2">Confirm Password:</label> 
        </div>
        <div class="field-input">
            <input type="password" name="password2" id="password2" class="passwordField"/>
        </div>
        <div style="clear: both;"></div>
    </div>

    {% if action == 'create-account' %}
        <div class="field-label-set" id="mailForwardingOption">
            <div class="field-label">
                <label for="mail_forwarding"><br/></label> 
            </div>
            <div class="field-input">
                <input type="checkbox" name="mail_forwarding" id="mail_forwarding" value="yes" checked="checked" onChange="forwardingAlert()"/> Deliver email to this account
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endif %}

    
    <div class="field-label-set" id="formSubmit">
        <div class="field-label">
            <br/>
        </div>
        <div class="field-input">
            <input type="button" name="button" value="Continue" id="{% if action == 'create-account' %}createAccountButton{% else %}resetPasswordButton{% endif %}" />
        </div>
        <div style="clear: both;"></div>
    </div>
    
    </form>

{% endblock %}

